#preview {
    background: none repeat scroll 0 0 #333333;
    border: 1px solid #000000;
    color: #FFFFFF;
    display: none;
    font-size: 12px;
    padding: 10px;
    position: absolute;
    text-align: center;
    width: 300px;
    z-index: 10;
}
div#fancy_overlay {
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 90;
}
div#fancy_loading {
    background: none repeat scroll 0 0 transparent;
    cursor: pointer;
    display: none;
    height: 40px;
    overflow: hidden;
    position: absolute;
    width: 40px;
    z-index: 100;
}
div#fancy_loading div {
    background: url("../images/fancybox/fancy_progress.png") no-repeat scroll 0 0 transparent;
    height: 480px;
    left: 0;
    position: absolute;
    top: 0;
    width: 40px;
}
div#fancy_outer {
    background: none repeat scroll 0 0 transparent;
    display: none;
    left: 0;
    margin: 0;
    padding: 20px 20px 40px;
    position: absolute;
    top: 0;
    z-index: 90;
}
div#fancy_inner {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 100%;
    position: relative;
    width: 100%;
}
div#fancy_content {
    margin: 0;
    position: absolute;
    z-index: 100;
}
div#fancy_div {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    height: 100%;
    width: 100%;
    z-index: 100;
}
img#fancy_img {
    border: 0 none;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}
div#fancy_close {
    background: url("../images/fancybox/fancy_closebox.png") no-repeat scroll left top transparent;
    cursor: pointer;
    display: none;
    height: 30px;
    position: absolute;
    right: -15px;
    top: -12px;
    width: 30px;
    z-index: 181;
}
#fancy_frame {
    display: none;
    height: 100%;
    position: relative;
    width: 100%;
}
#fancy_ajax {
    height: 100%;
    overflow: auto;
    width: 100%;
}
a#fancy_left, a#fancy_right {
    background-image: url("data:image/gif;base64,AAAA");
    bottom: 0;
    cursor: pointer;
    display: none;
    height: 100%;
    outline: medium none;
    overflow: hidden;
    position: absolute;
    width: 35%;
    z-index: 111;
}
a#fancy_left {
    left: 0;
}
a#fancy_right {
    right: 0;
}
span.fancy_ico {
    cursor: pointer;
    display: block;
    height: 30px;
    margin-top: -15px;
    position: absolute;
    top: 50%;
    width: 30px;
    z-index: 112;
}
span#fancy_left_ico {
    background: url("../images/fancybox/fancy_left.png") no-repeat scroll 0 0 transparent;
    left: -9999px;
}
span#fancy_right_ico {
    background: url("../images/fancybox/fancy_right.png") no-repeat scroll 0 0 transparent;
    right: -9999px;
}
a#fancy_left:hover, a#fancy_right:hover {
    background-color: transparent;
    visibility: visible;
}
a#fancy_left:hover span {
    left: 20px;
}
a#fancy_right:hover span {
    right: 20px;
}
#fancy_bigIframe {
    background: none repeat scroll 0 0 transparent;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
div#fancy_bg {
    border: 0 none;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 70;
}
div.fancy_bg {
    border: 0 none;
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 70;
}
div#fancy_bg_n {
    background: url("../images/fancybox/fancy_shadow_n.png") repeat-x scroll 0 0 transparent;
    height: 20px;
    left: 0;
    top: -20px;
    width: 100%;
}
div#fancy_bg_ne {
    background: url("../images/fancybox/fancy_shadow_ne.png") no-repeat scroll 0 0 transparent;
    height: 20px;
    right: -20px;
    top: -20px;
    width: 20px;
}
div#fancy_bg_e {
    background: url("../images/fancybox/fancy_shadow_e.png") repeat-y scroll 0 0 transparent;
    height: 100%;
    right: -20px;
    width: 20px;
}
div#fancy_bg_se {
    background: url("../images/fancybox/fancy_shadow_se.png") no-repeat scroll 0 0 transparent;
    bottom: -20px;
    height: 20px;
    right: -20px;
    width: 20px;
}
div#fancy_bg_s {
    background: url("../images/fancybox/fancy_shadow_s.png") repeat-x scroll 0 0 transparent;
    bottom: -20px;
    height: 20px;
    left: 0;
    width: 100%;
}
div#fancy_bg_sw {
    background: url("../images/fancybox/fancy_shadow_sw.png") no-repeat scroll 0 0 transparent;
    bottom: -20px;
    height: 20px;
    left: -20px;
    width: 20px;
}
div#fancy_bg_w {
    background: url("../images/fancybox/fancy_shadow_w.png") repeat-y scroll 0 0 transparent;
    height: 100%;
    left: -20px;
    width: 20px;
}
div#fancy_bg_nw {
    background: url("../images/fancybox/fancy_shadow_nw.png") no-repeat scroll 0 0 transparent;
    height: 20px;
    left: -20px;
    top: -20px;
    width: 20px;
}
div#fancy_title {
    display: none;
    position: absolute;
    z-index: 100;
}
div#fancy_title div {
    color: #FFFFFF;
    font: bold 12px Arial;
    padding-bottom: 3px;
    white-space: nowrap;
}
div#fancy_title table {
    margin: 0 auto;
}
div#fancy_title table td {
    padding: 0;
    vertical-align: middle;
}
td#fancy_title_left {
    background: url("../images/fancybox/fancy_title_left.png") repeat-x scroll 0 0 transparent;
    height: 32px;
    width: 15px;
}
td#fancy_title_main {
    background: url("../images/fancybox/fancy_title_main.png") repeat-x scroll 0 0 transparent;
    height: 32px;
}
td#fancy_title_right {
    background: url("../images/fancybox/fancy_title_right.png") repeat-x scroll 0 0 transparent;
    height: 32px;
    width: 15px;
}
.pop {
    display: inline;
    position: absolute;
}
.pop .pop_menu {
    border-radius: 3px 3px 3px 3px;
    display: none;
    z-index: 80;
}
.pop .pop_toggle {
    background-image: url("../images/cart/arrow_down.png");
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 20px;
    overflow: hidden;
    width: 20px;
}
.active .pop_menu {
    background-color: #EBEBEB;
    color: #FFFFFF;
    display: block;
    padding: 0.6em;
    position: absolute;
    width: 12em;
    z-index: 80;
}
.active .pop_menu a {
    color: #FFFFFF;
}
.active .pop_toggle {
    background-image: url("../images/cart/arrow_up.png");
    left: 0;
    position: absolute;
    top: 0;
    z-index: 2000;
}
#slider-wrapper {
    margin: 0 auto 15px;
    position: relative;
    width: 960px;
}



#slider ul, #slider li, #slider2 ul, #slider2 li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#slider2 {
    margin-top: 1em;
}
#slider li, #slider2 li {
    height: 316px;
    overflow: hidden;
    width: 960px;
}
#prevBtn, #nextBtn, #slider1next, #slider1prev {
    display: block;
    height: 77px;
    left: -30px;
    position: absolute;
    top: 71px;
    width: 30px;
    z-index: 1000;
}
#nextBtn, #slider1next {
    left: 696px;
}
#prevBtn a, #nextBtn a, #slider1next a, #slider1prev a {
    background: url("../images/slider/btn_prev.gif") no-repeat scroll 0 0 transparent;
    display: block;
    height: 77px;
    position: relative;
    width: 30px;
}
#nextBtn a, #slider1next a {
    background: url("../images/slider/btn_next.gif") no-repeat scroll 0 0 transparent;
}
ol#controls {
    height: 20px;
    margin: 1em 0;
    padding: 0;
    position: absolute;
    right: 30px;
    bottom: 25px;
    list-style-type: none;
}
#controls li {
    float: left;
    margin: 0;
}
#controls li a {
    background-position: center top;
    background-repeat: no-repeat;
    display: block;
    height: 46px;
    text-indent: -5000px;
    width: 45px;
}
#controls li#controls1 a {
    background-image: url("../img/cont_01.png");
}
#controls li#controls2 a {
    background-image: url("../img/cont_02.png");
}
#controls li#controls3 a {
    background-image: url("../img/cont_03.png");
}
#controls li#controls4 a {
    background-image: url("../img/cont_04.png");
}
#controls li#controls5 a {
    background-image: url("../img/cont_05.png");
}
#controls li#controls6 a {
    background-image: url("../img/cont_06.png");
}
#controls li a:hover, #controls li.current a {
    background-position: center bottom;
}

.jcarousel-container {
    position: relative;
}
.jcarousel-clip {
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    z-index: 2;
}
.jcarousel-list {
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    top: 0;
    z-index: 1;
}
.jcarousel-list li, .jcarousel-item {
    border: 1px solid #CDCDCD;
    float: left;
    height: 150px;
    list-style: none outside none;
    width: 150px;
}
.jcarousel-list li:hover, .jcarousel-item:hover {
    border: 1px solid #A9A9A9;
}
.jcarousel-next {
    display: none;
    z-index: 3;
}
.jcarousel-prev {
    display: none;
    z-index: 3;
}
.jcarousel-skin-tango .jcarousel-container {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../images/misc/bg_carousel.gif") repeat-x scroll 0 0 #F8F8F8;
    border-color: #E9E9E9;
    border-style: solid;
    border-width: 1px 0;
}
.jcarousel-skin-tango .jcarousel-container-horizontal {
    padding: 20px 60px;
    width: 637px;
}
.jcarousel-skin-tango .jcarousel-container-vertical {
    height: 245px;
    padding: 40px 20px;
    width: 75px;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
    height: 116px;
    width: 637px;
}
.jcarousel-skin-tango .jcarousel-clip-vertical {
    height: 245px;
    width: 75px;
}
.jcarousel-skin-tango .jcarousel-item {
    height: 113px;
    width: 113px;
}
.jcarousel-skin-tango .jcarousel-item-horizontal {
    margin-right: 15px;
}
.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 15px;
}
.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
}
.jcarousel-skin-tango .jcarousel-next-horizontal {
    background: url("../images/buttons/next-horizontal.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 27px;
    position: absolute;
    right: 17px;
    top: 60px;
    width: 27px;
}
.jcarousel-skin-tango .jcarousel-next-horizontal:hover {
    background-position: -27px 0;
}
.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position: -27px 0;
}
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal, .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover, .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    background-position: -54px 0;
    cursor: default;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal {
    background: url("../images/buttons/prev-horizontal.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 27px;
    left: 17px;
    position: absolute;
    top: 60px;
    width: 27px;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
    background-position: -27px 0;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: -27px 0;
}
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal, .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover, .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    background-position: -54px 0;
    cursor: default;
}
.jcarousel-skin-tango .jcarousel-next-vertical {
    background: url("../images/buttons/next-vertical.png") no-repeat scroll 0 0 transparent;
    bottom: 5px;
    cursor: pointer;
    height: 32px;
    left: 43px;
    position: absolute;
    width: 32px;
}
.jcarousel-skin-tango .jcarousel-next-vertical:hover {
    background-position: 0 -32px;
}
.jcarousel-skin-tango .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}
.jcarousel-skin-tango .jcarousel-next-disabled-vertical, .jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover, .jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    background-position: 0 -96px;
    cursor: default;
}
.jcarousel-skin-tango .jcarousel-prev-vertical {
    background: url("../images/buttons/prev-vertical.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 32px;
    left: 43px;
    position: absolute;
    top: 5px;
    width: 32px;
}
.jcarousel-skin-tango .jcarousel-prev-vertical:hover {
    background-position: 0 -32px;
}
.jcarousel-skin-tango .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical, .jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover, .jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    background-position: 0 -96px;
    cursor: default;
}
