html {

}
body {
	margin: 0;
	padding: 34px 0 0 0;
	font: Tahoma, Geneva, sans-serif;
	background: url(../img/bg_geral.jpg) top center #ededed no-repeat;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#wrap {
	/* background: #AADBDD; */
}
#topo {
	height: 147px;
	background: url(../img/logo_topo_galinha.png) 0px 0 no-repeat;
	position: relative;
}
#topo h1 {
	margin: 0;
	padding: 0;
	position: absolute;
}
#topo h1 a {
	width: 570px;
	height: 100px;
	border: 0;
	display: block;
	float: left;
}
#topo h1 span {
	display: none;
}
#menuA {
	display: inline;
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	bottom: 0;
	left: 180px;
}
#menuA li {
	font-size: 18px;
	font-weight: bold;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}
#menuA li a {
	width: 146px;
	height: 36px;
	color: #fff;
	background: url(../img/menuA_01_normal.png) no-repeat;
	display: block;
	text-decoration: none;
	text-align: center;
}
#menuA li.active a {
	width: 146px;
	height: 36px;
	color: #245b70;
	background: url(../img/menuA_01_active.png) no-repeat;
	display: block;
	text-align: center;
}
#menuA li a:hover {
	text-decoration: underline;
}
#menuA li a span {
	display: block;
	padding: 5px 15px 0 15px;
}
#menuB {
	display: inline;
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	top: 55px;
	right: 10px;
}
#menuB li {
	height: 29px;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}
#menuB li a {
	display: block;
	list-style: none;
}
#menuB li a span {
	display: none;
	padding: 10px 15px;
}
#menuB .item01 a {
	width: 120px;
	height: 29px;
	background: url(../img/menuB_01_active.png) center center no-repeat;
}
#menuB .item01 a:hover {
	background: url(../img/menuB_01_over.png) center center no-repeat;
}
#menuB .item02 a {
	width: 87px;
	height: 29px;
	background: url(../img/menuB_02_active.png) center center no-repeat;
}
#menuB .item02 a:hover {
	background: url(../img/menuB_02_over.png) center center no-repeat;
}
#menuB .item03 a {
	width: 167px;
	height: 29px;
	background: url(../img/menuB_03_active.png) center center no-repeat;
}
#menuB .item03 a:hover {
	background: url(../img/menuB_03_over.png) center center no-repeat;
}
#menuC {
	display: inline;
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	top: 22px;
	right: 10px;
}
#menuC li {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}
#menuC img {
	padding-right: 10px;
}
#topo .carcompras {
	width: 400px;
	font-size: 18px;
	font-weight: bold;
	text-align: right;
	background: url(../img/bg_carrinho_compras01.png) 105px -2px no-repeat;
	color: #dceffe;
	margin: 0;
	padding: 0;
	display: block;
	float: left;
	position: absolute;
	bottom: 10px;
	right: 10px;
}
#topo .carcompras a {
	padding-left: 30px;
	color: #dceffe;
	text-decoration: none;
	display: block;
}
#topo .carcompras a:hover {
	color: #fff;
	text-decoration: underline;
}
#corpo {
	/*background: url(../img/bg_menu_rosa.gif) repeat-y;*/
	float: left;
    position: relative;
}
#destaque .destbox {
	width: 960px;
	height: 315px;
	margin-bottom: 15px;
	/* background: red; */
	display: block;
	position: relative;
}
/*#corpo .destbox.box01 {
	display: block;
}*/
#miolo{
  font-size:12px;
}


#corpo #miolo .destbox  {
	width: 680px;
}
/* botoes segue e volta */
#corpo #destaque  {
	width: 960px;
	height: 315px;
	position: relative;
	overflow: hidden;
}
#miolo #destaque {
	width: 680px;
	margin-bottom: 20px;
}
#destaque #destant a span, #destaque #destpost a span {
	display: none;
}
#destaque #destant {
	width: 36px;
	height: 310px;
	position: absolute;
	z-index: 1001;
	top: 3px;
	left: 3px;
}
#miolo #destaque #destant {
	height: 265px;
}
#destaque #destant a {
	width: 36px;
	height: 310px;
	background: url(../img/bt_dest_volta_50.png) no-repeat;
	display: block;
}
#destaque #destant a:hover {
	background: url(../img/bt_dest_volta_80.png) no-repeat;
}
#miolo #destaque #destant a {
	background: url(../img/bt_dest_volta_50.png) 0 -20px no-repeat;
}
#miolo #destaque #destant a:hover {
	background: url(../img/bt_dest_volta_80.png) 0 -20px no-repeat;
}
#destaque #destpost {
	width: 36px;
	height: 310px;
	position: absolute;
	z-index: 1001;
	top: 3px;
	right: 3px;
}
#miolo #destaque #destpost {
	height: 265px;
}
#destaque #destpost a {
	width: 36px;
	height: 310px;
	background: url(../img/bt_dest_segue_50.png) no-repeat;
	display: block;
}
#destaque #destpost a:hover {
	background: url(../img/bt_dest_segue_80.png) no-repeat;
}
#miolo #destaque #destpost a {
	background: url(../img/bt_dest_segue_50.png) 0 -20px no-repeat;
}
#miolo #destaque #destpost a:hover {
	background: url(../img/bt_dest_segue_80.png) 0 -20px no-repeat;
}
#miolo #destaque #destant a, #miolo #destaque #destpost a {
	height: 265px;
}
/* controller */
#destaque #controller {
	bottom: 10px;
	right: 10px;
	position: absolute;
	z-index: 10000;
}
#miolo #destaque #controller {
}
#destaque #controller ul {
	height: 46px;
	position: absolute;
	bottom: 5px;
	right: 0;
	margin: 0 50px 0 0;
	padding: 0;
}
#miolo #destaque #controller ul {
	bottom: -10px;
	left: 0;
}
#destaque #controller ul li {
	margin: 0;
	padding: 0;
}
#destaque #controller ul .block.envia {
	display: none;
}
/* botões */
#corpo #controller ul li {display: inline;}
#corpo #controller ul li a {width: 45px;height: 46px;display: block;float: left;}
#corpo #controller ul li a span {display: none;}
/*bt01*/
#corpo #controller ul li.aba01 a  {background: url(../img/cont_01.png) no-repeat;}
#corpo #controller ul li.aba01 a:hover, #corpo #controller ul li.aba01ativa a {background: url(../img/cont_01_over.png) no-repeat;}

/*bt02*/
#corpo #controller ul li.aba02 a  {background: url(../img/cont_02.png) no-repeat;}
#corpo #controller ul li.aba02 a:hover, #corpo #controller ul li.aba02ativa a {background: url(../img/cont_02_over.png) no-repeat;}
/*bt03*/
#corpo #controller ul li.aba03 a  {background: url(../img/cont_03.png) no-repeat;}
#corpo #controller ul li.aba03 a:hover, #corpo #controller ul li.aba03ativa a {background: url(../img/cont_03_over.png) no-repeat;}
/*bt04*/
#corpo #controller ul li.aba04 a  {background: url(../img/cont_04.png) no-repeat;}
#corpo #controller ul li.aba04 a:hover, #corpo #controller ul li.aba04ativa a {background: url(../img/cont_04_over.png) no-repeat;}
/*bt01*/
#corpo #controller ul li.aba05 a  {background: url(../img/cont_05.png) no-repeat;}
#corpo #controller ul li.aba05 a:hover, #corpo #controller ul li.aba05ativa a {background: url(../img/cont_05_over.png) no-repeat;}
/*bt01*/
#corpo #controller ul li.aba06 a  {background: url(../img/cont_06.png) no-repeat;}
#corpo #controller ul li.aba06 a:hover, #corpo #controller ul li.aba06ativa a  {background: url(../img/cont_06_over.png) no-repeat;}

#destaque .ui-tabs-hide {
	display: none;
}
/* final controller */
#corpo .boxproduto {
	height: 365px;
	background: url(../img/bg_box_produto.jpg) repeat-x #2b9cb0;
	color: #FFF;
	margin-top: 20px;
	position: relative;
}
.boxproduto img.warn {
	position: absolute;
	z-index: 9000;
	top: -7px;
	left: -7px;
}
#corpo .outrosprods .boxproduto {
	margin: 0;
}
#corpo .outrosprods {
	margin-bottom: 10px;
}
#corpo .resumido {
	height: auto;
	background: none;
	color: #1b699a;
	margin: 0 0 0 0;
	background: #d2e3eb;
}
#corpo .boxproduto h2, #corpo .boxproduto p, #corpo .outrosprods .boxproduto h3 {
	padding: 0 10px;
	margin: 0;
	color: #fff;
}
#corpo .boxproduto h2 {
	margin-top: 5px;
}
#corpo .outrosprods .resumido h3 {
	padding-top: 10px;
}
#corpo .outrosprods .boxproduto {
	margin-top: 0;
}
#corpo .outrosprods .resumido {
	margin-top: 10px;
}
#corpo .outrosprods h2 {
	font-size: 18px;
	font-weight: bold;
	color: #245b70;
	margin: 0;
}
#corpo .boxproduto a {
	color: #fff;
	text-decoration: none;
}
#corpo .resumido a {
	color: #1b699a;
}
#corpo .boxproduto a:hover {
	text-decoration: underline;
}
#corpo .boxproduto .preco {
	font-size: 11px;
	color: #fff;
}
#corpo .resumido .preco {
	color: #1b699a;
}
#corpo .boxproduto .preco .de {
	font-size: 11px;
	color: #fff;
	text-decoration: line-through;
}
#corpo .resumido .preco .de {
	color: #1b699a;
}
#corpo .boxproduto .preco a {
	font-size: 30px;
	font-weight: bold;
	color: #FF0;
}
#corpo .resumido .preco a {
	color: #ec2a2a;
}
#corpo .boxproduto .preco .reais {
	font-size: 16px;
}
#corpo .boxproduto .desc {
	font-size: 11px;
}
#corpo .boxproduto .vermais {
	font-size: 14px;
	margin: 10px 10px 0 10px;
	padding: 10px 0 0 0;
	font-weight: bold;
	text-align: right;
	border-top: 2px solid #5cb0bf;
}
#corpo .outrosprods .boxproduto .vermais {
	background: url(../img/bg_carrinho_compras01.png) 40px 5px no-repeat;
	border-top: 2px solid #aac3cf;
	padding-bottom: 10px;
}
#corpo .outrosprods .boxproduto .vermais a {
	display: block;
}
#coluna01 {
	border-top: 20px solid #ededed;
	background: url(../img/bg_coluna_corpo.jpg) 0 -350px #f78fe5 no-repeat;
}
#coluna01.grid_3 {
	width: 220px;
}
#coluna01 #menu_local {
	list-style: none;
	padding: 0;
	margin: 0;
}
#coluna01 #menu_local li {
	list-style: none;
	padding: 0;
	margin: 20px;
}
#coluna01 #menu_local a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	padding-left: 20px;
}
#coluna01 #menu_local a:hover {
	color: #fff;
	text-decoration: none;
	background: url(../img/menu_seta01.png) 0 5px no-repeat;
}
#coluna01 #menu_local li ul li {
	margin: 0; padding: 5px;
	font-size: 20px;font-weight: bold; border-bottom: 1px solid #ddd; line-height: 1;
}
#coluna01 #menu_local a.loja {
	width: 50px;
	height: 17px;
	background: url(../img/menu_tit_loja.png) no-repeat;
	border: 0;
	display: block;
    margin-bottom: 30px;

}
#coluna01 #menu_local a.loja span {
	display: none;
}
#coluna01 .testemunho, #coluna01 blockquote {
	color: #fff;
	font-size: 14px;
	padding: 5px 35px;
	margin-bottom: 20px;
	background: url(../img/aspas_fff.png) 13px 0 no-repeat;
}
#coluna01 .testemunho p, #coluna01 blockquote p {
	padding: 0;
	margin: 0;
}

#coluna01 .testemunho p.nome, #coluna01 blockquote p.nome {
	font-weight: bold;
	margin-top: 10px;
}
#coluna01 .testemunho p.local, #coluna01 blockquote p.local {
	font-size: 12px;
}
#coluna01 .badges {
	
	text-align: center;
	padding: 0;
}
#coluna01 .badges p {
	margin: 0;
	padding: 0;
}
#coluna01 .badges .crpbadge {
	width: 220px;
	background: url(../img/bg_badges.png) no-repeat;
}
#coluna01 .badges .crpbadge p {
	padding: 10px 0 0 0;
}
#coluna01 .badges h2 {
	background: url(../img/bg_badges_topo.png) no-repeat;
	height: 25px;
	font-size: 14px;
	text-align: left;
	margin: 0;
	padding: 0;
}
#coluna01 .badges h2 a {
	color: #fff;
}
#coluna01 .badges h2 span {
	display: none;
}
#coluna01 .badges .base {
	height: 25px;
	background: url(../img/bg_badges_base.png) no-repeat;
}
#coluna01 .badges .base span {
	display: none;
}
/**/
#coluna01.internas {
	background-color: none;
	background: url(../img/bg_coluna_corpo.jpg) 0 0 no-repeat;
	border-top: 0;
}
#areaprincipal {
	float: left;
}
#corpo.internas {
	background: url(../img/bg_menu_rosa.png) 0 0 repeat-y;
}

#App #corpo.internas {
	background: url(../img/bg_menu_branco.png) 0 0 no-repeat;
}
#corpo.internas .boxproduto {
	height: 365px;
	background: url(../img/bg_box_produto.jpg) repeat-x #2b9cb0;
	color: #FFF;
	margin-top: 0;
	margin-bottom: 20px;
}
/* loja passos */
#corpo.loja01 {
	background: url(../img/bg_loja01.png) no-repeat;
}
#corpo.loja01 #miolo .passos {
	background: url(../img/bg_passo_01.png) no-repeat;
	position: relative;
}
#corpo.loja01 #miolo .passos.p02 {
	background: url(../img/bg_passo_02.png) no-repeat;
}
#corpo.loja01 #miolo .passos.p03 {
	background: url(../img/bg_passo_03.png) no-repeat;
}
#corpo.loja01 #miolo .passos div {
	width: 235px;
	height: 100px;
	float: left;
	position: relative;
}
#corpo.loja01 #miolo .passos div p {
	float: left;
	margin: 0;
}
#corpo.loja01 #miolo .passos .pas01 .numb {
	color: #9cc8da;
	font-size: 34px;
	font-weight: bold;
	padding: 0 10px;
}
#corpo.loja01 #miolo .passos.p02 .pas02.numb {
	color: #9cc8da;
}
#corpo.loja01 #miolo .passos.p03 .pas03 .numb {
	color: #9cc8da;
}
#corpo.loja01 #miolo .passos .pas01 .numb a, #corpo.loja01 #miolo .passos.p02 .pas02.numb a {
	color: #9cc8da;
}
#corpo.loja01 #miolo .passos .pas01 .tit {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	margin: 5px 0 0 0;
}
#corpo.loja01 #miolo .passos.p03 .pas03 .tit, #corpo.loja01 #miolo .passos.p03 .pas03 .subtit {
	color: #fff;
}
#corpo.loja01 #miolo .passos .pas01 .tit a {
	color: #fff;
}
#corpo.loja01 #miolo .passos .pas01 .subtit {
	color: #fff;
	font-size: 11px;
}
#corpo.loja01 #miolo .passos .pas01 .subtit  a {
	color: #fff;	
}
#corpo.loja01 #miolo .passos.p02 .pas02 .tit, #corpo.loja01 #miolo .passos.p02 .pas02 .subtit {
	color: #fff;
}
#corpo.loja01 #miolo .passos .pas01 .desc, #corpo.loja01 #miolo .passos .pas02 .desc, #corpo.loja01 #miolo .passos .pas03 .desc {
	width: 157px;
	color: #245b70;
	font-size: 11px;
	position: absolute;
	top: 55px;
	left: 60px;
	line-height: normal;
}
#corpo.loja01 #miolo .passos .pas02 .numb {
	color: #8bb6c7;
	font-size: 34px;
	font-weight: bold;
	padding: 0 10px;
}
#corpo.loja01 #miolo .passos .pas02 .numb a {
	color: #9cc8da;
}
#corpo.loja01 #miolo .passos .pas02 .tit {
	color: #68a1b7;
	font-size: 18px;
	font-weight: bold;
	margin: 5px 0 0 0;
}
#corpo.loja01 #miolo .passos .pas02 .tit a {
	color: #fff;
}
#corpo.loja01 #miolo .passos .pas02 .subtit {
	color: #68a1b7;
	font-size: 11px;
}
#corpo.loja01 #miolo .passos .pas02 .subtit a {
	color: #fff;
}
#corpo.loja01 #miolo .passos .pas03 .numb {
	color: #86b1c2;
	font-size: 34px;
	font-weight: bold;
	padding: 0 10px;
}
#corpo.loja01 #miolo .passos .pas03 .tit {
	color: #68a1b7;
	font-size: 18px;
	font-weight: bold;
	margin: 5px 0 0 0;
}
#corpo.loja01 #miolo .passos .pas03 .subtit {
	color: #68a1b7;
	font-size: 11px;
}
#corpo.loja01 #miolo .passos .bg {
	background: url(../img/bg_passos_linha.png) 50px 10px no-repeat;
}
/* final lojas passos */
/* corpo passos */
#loja_passo01 {
	margin-top: 20px;
	background: #d5e4ea;
}
#loja_passo01 tbody {
	width: 700px;
	border-top: 1px solid #b6ced7;
	display: block;
}
#loja_passo01 caption, #loja_passo01 .prim {
	display: none;
}
#loja_passo01 tr {
	width: 700px;
	border-bottom: 1px solid #b6ced7;
	display: block;
}
#loja_passo01 td img {
	padding: 10px;
}
#loja_passo01 table h2 {
	font-size: 14px;
	font-weight: bold;
	color: #245b70;
	margin: 10px 0 0 0;
}
#loja_passo01 table p {
	font-size: 11px;
	color: #245b70;
	margin: 0 10px 0 0;
}
#loja_passo01 table .price p {
	font-size: 14px;
	font-weight: bold;
	text-align: right;
	margin-top: 10px;
}
#loja_passo01 table .price p.cada {
	font-size: 10px;
	font-weight: normal;
	margin: 0 10px 0 0;
}
#loja_passo01 table .qtd {
	text-align: right;
}
#loja_passo01 table label {
	font-size: 12px;
	font-weight: bold;
	color: #40768a;
	margin-top: 10px;
	text-align: center;
}
#loja_passo01 table .quantid {
	width: 55px;
	height: 25px;
	border: 1px solid #40768a;
	margin-top: 10px;
	text-align: center;
}
#loja_passo01 table .close {
	text-align: center;
}
#loja_passo01 table .close a {
	width: 12px;
	height: 12px;
	background: url(../img/ico_close.png) no-repeat;
	display: block;
	margin: 20px 10px 10px 10px;
}
#loja_passo01 table .close a span {
	display: none;
}
#loja_passo01 .frete, #loja_passo01 .fechamento, #loja_passo01 .seguir {
	width: 700px;
	float: left;
	position: relative;
}
#loja_passo01 .frete {
	height: 65px;
	border-bottom: 1px solid #b6ced7;
	background: url(../img/ico_frete.png) 200px 10px no-repeat;
}
#loja_passo01 .frete .calcule {
	font-size: 18px;
	font-weight: bold;
	color: #245b70;
}
#loja_passo01 .frete label {
	display: block;
	margin: 0 10px 0 0;
	float: left;
}
#loja_passo01 .frete input {
	font-size: 14px;
	margin: 2px 0 0 0;
	text-align: center;
	border: 1px solid #77b2ca;
}
#loja_passo01 .frete .cep {
	position: absolute;
	margin: 0;
	top: 0;
	right: 200px;
}
#loja_passo01 .frete .cep01 {
	width: 54px;
	height: 22px;
}
#loja_passo01 .frete .cep02 {
	width: 42px;
	height: 22px;
}
#loja_passo01 .frete .calcule em {
	font-size: 11px;
	font-weight: normal;
	display: block;
}
#loja_passo01 .frete .valor {
	font-size: 12px;
	font-weight: bold;
	color: #245b70;
	display: block;
	float: left;
	position: absolute;
	right: 10px;
	top: 5px;
}
#loja_passo01 .frete .valor strong {
	font-size: 18px;
}
#loja_passo01 .fechamento {
	height: 65px;
}
#loja_passo01 .fechamento .at_carrinho {
	margin: 0;
	display: block;
	position: absolute;
	left: 10px;
	top: 10px;
}
#loja_passo01 .fechamento .at_carrinho a {
	width: 198px;
	height: 42px;
	background: url(../img/bt_atualizar_carrinho.png) no-repeat;
	color: #245b70;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	display: block;
}
#loja_passo01 .fechamento .at_carrinho a:hover {
	background: url(../img/bt_atualizar_carrinho_over.png) no-repeat;
}
#loja_passo01 .fechamento .at_carrinho a span {
	padding: 10px 0 0 20px;
	display: block;
}
#loja_passo01 .fechamento .label_tot {
	width: 198px;
	height: 42px;
	font-size: 10px;
	color: #245b70;
	display: block;
	position: absolute;
	text-align: right;
	left: 330px;
	top: 10px;
}
#loja_passo01 .fechamento .label_tot strong {
	font-size: 18px;
	font-weight: bold;
	color: #36687b;
}
#loja_passo01 .fechamento .valor {
	font-size: 28px;
	font-weight: bold;
	color: #245b70;
	display: block;
	position: absolute;
	right: 10px;
	top: 5px;
}
#loja_passo01 .seguir {
	height: 110px;
	background: #f4f4f4;
}
#loja_passo01 .seguir p {
	width: 310px;
	margin: 0;
	position: absolute;
}
#loja_passo01 .seguir .continuar {
	width: 210px;
	top: 10px;
	left: 0;
}
#loja_passo01 .seguir .continuar a {
	width: 220px;
	height: 49px;
	background: url(../img/bt_carrinho_continuar.png) no-repeat;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	display: block;
}
#loja_passo01 .seguir .continuar a:hover {
	background: url(../img/bt_carrinho_continuar_over.png) no-repeat;
}
#loja_passo01 .seguir .continuar a span {
	padding: 15px 0 0 15px;
	text-align: center;
	display: block;
}
#loja_passo01 .seguir .finalizar {
	top: 10px;
	right: -10px;
}
#loja_passo01 .seguir .finalizar a {
	width: 300px;
	height: 49px;
	background: url(../img/bt_carrinho_finalizar.png) no-repeat;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	display: block;
}
#loja_passo01 .seguir .finalizar a:hover {
	background: url(../img/bt_carrinho_finalizar_over.png) no-repeat;
}
#loja_passo01 .seguir .finalizar a span {
	padding: 10px 0;
	text-align: center;
	display: block;
}
/* passo 02 */
.loja_passo02 {
	width: 960px;
	float: left;
}
.loja_passo02.p02 h2 {
	margin: 0 0 10px 0;
	padding: 0 0 0 45px;
	font-size: 18px;
	font-weight: bold;
	color: #1b699a;
}
.loja_passo02.p02 h2.listaprod {
	background:url(../img/h2_listaprodutos.png) 15px 0 no-repeat;
}
.loja_passo02.p02 h2.valores {
	background:url(../img/h2_valores.png) 10px 0 no-repeat;
}
.loja_passo02.p02 h2.pessoais {
	background:url(../img/h2_pessoais.png) 10px 0 no-repeat;
}
.loja_passo02.p02 h2.entrega {
	background: url(../img/ico_frete.png) 0 0 no-repeat;
}
.loja_passo02 .valcompra div {
	background: #d5e4ea;
}
.loja_passo02 .valcompra p {
	color: #1b699a;
	margin: 0;
	padding: 10px;
}
.loja_passo02 .valcompra .total {
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 0;
}
.loja_passo02 .valcompra .valor {
	font-size: 36px;
	font-weight: bold;
	padding-top: 0;
	padding-bottom: 0;
}
.loja_passo02 .valcompra .aviso {
	font-size: 12px;
	padding-top: 0;
}
.loja_passo02 .valcompra .aviso a {
	color: #189dcf;
}
.linha_01, .linha_02 {
	background: url(../img/bg_passo02_linha.png) 10px 36px no-repeat;
}
.linha_02 .forms {
	position: relative;
}
.linha_02 .forms p {
	padding: 0 10px;
	color: #245b70;
	font-size: 14px;
	position: relative;
	display: block;
	width: 100%;
	float: left;
}
.linha_02 .forms p.half {
	width: 208px;
	float: left;
}
.linha_02 .forms p.valorfrete {
	width: 208px;
	font-size: 11px;
	float: right;
	text-align: right;
	margin: 0;
	padding: 0;
	top: -15px;
	right: 45px;
}
.linha_02 .forms p.avisa {
	width: 210px;
	line-height: normal;
	font-size: 11px;
	top: 28px;
	right: 40px;
}
.linha_02 .forms label {
	display: block;
}
.linha_02 .forms .boldific {
	font-weight: bold;
}
.linha_02 .forms .sexo label {
	display: inline-block;
}
.linha_02 .forms .help {
	background: url(../img/bt_interrogacao.png) 5px 5px no-repeat;
	display: block;
	width: 30px;
	height: 30px;
	float: left;
}
.linha_02 .forms .sexo .help {
	background: url(../img/bt_interrogacao.png) 5px 5px no-repeat;
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	left: 230px;
	bottom: 0;
}
.linha_02 .forms .help:hover {
	background: url(../img/bt_interrogacao_over.png) 5px 5px no-repeat;
}
.linha_02 .forms .campo {
	width: 400px;
	height: 28px;
	padding: 3px;
	border: 1px solid #8dbfd3;
	float: left;
}
.linha_02 .forms .campo:hover, .linha_02 .forms .campohalf:hover {
	border: 1px solid #6C9;
	background: #DFF7F7;
}
.linha_02 .forms .campohalf {
	width: 170px;
	height: 28px;
	padding: 3px;
	border: 1px solid #8dbfd3;
	float: left;
}
.linha_02 .forms .help span {
	display: none;
}
.linha_02 .forms .first {
	margin-top: 10px;
}
/* corpo passos */
.loja_passo02 {
	margin-top: 20px;
}
.loja_passo02 tbody {
	border-top: 1px solid #b6ced7;
	display: block;
}
.loja_passo02 caption, #loja_passo01 .prim {
	display: none;
}
.loja_passo02 tr {
	border-bottom: 1px solid #b6ced7;
	background: #d5e4ea;
	display: block;
}
.loja_passo02 td img {
	padding: 10px;
}
.loja_passo02 td .tit, .loja_passo02 td .tit a {
	margin: 10px 0 0 0;
	font-size: 14px;
	font-weight: bold;
	color: #245b70;
}
.loja_passo02 td .desc, .loja_passo02 td .desc a {
	margin: 0;
	font-size: 11px;
	color: #245b70;
}
.loja_passo02 td .valor, .loja_passo02 td .valor a {
	margin: 0;
	margin: 10px 0 0 0;
	font-size: 14px;
	font-weight: bold;
	color: #245b70;
	text-align: right;
}
.loja_passo02 td .cada, .loja_passo02 td .cada a {
	margin: 0;
	font-size: 10px;
	color: #245b70;
	text-align: right;
}
.loja_passo02 td .qtd, .loja_passo02 td .qtd a {
	margin: 5px 0 0 0;
	font-size: 11px;
	font-weight: bold;
	color: #5fa2bb;
	text-align: center;
}
.loja_passo02 td .num, .loja_passo02 td .num a {
	margin: 0;
	font-size: 10px;
	color: #245b70;
}
.loja_passo02 td .num input {
	border: 1px solid #3991b5;
	background: #d7e5eb;
	text-align: center;
	font-size: 18px;
	color: #245b70;
	width: 54px;
	height: 24px;
	margin: 0 30px;
}
.continuacompra {
	width: 960px;
	height: 100px;
	float: left;
}
.continuacompra .finalizar {
	width: 460px;
	height: 49px;
	float: right;
	margin-right: 10px;
	margin-top: 20px;
	text-align: center;
}
.continuacompra .finalizar a {
	width: 460px;
	height: 49px;
	color: #fff;
	background: url(../img/bt_carrinho_finalizar_p02.png);
	font-size: 24px;
	font-weight: bold;
	display: block;
}
.continuacompra .finalizar a:hover {
	background: url(../img/bt_carrinho_finalizar_p02_over.png);
}
.continuacompra .finalizar a span {
	padding-top: 5px;
	display: block;
}
/* fechamento loja */
.pagseguro .pagueagora a {
	display: block;
	width: 940px;
	height: 158px;
	background: url(../img/pag_seguro_960banner.png);
}
.pagseguro .pagueagora a:hover {
	background: url(../img/pag_seguro_960banner_over.png);
}
.pagseguro .pagueagora span {
	display: none;
}
/**/
#miolo.produtos {
	margin-left: 20px;
}
#miolo.produtos {
	margin-left: 20px;
}
#miolo.prefix_3 {
}
/* produto interna */
#breadcrumb p {
	margin: 15px 0 0 0;
	font-size: 11px;
}
#breadcrumb p a {
	color: #0e83e5;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}
#breadcrumb p a:hover {
	text-decoration: underline;
}
#miolo #cabeca {
	color: #245b70;
	margin-bottom: 20px;
}
h2.cabeca {
	font-size: 36px;
	font-weight: bold;
	margin: 0;
}
#miolo #cabeca p {
	font-size: 18px;
	margin: 0;
}
#miolo .destaque {
	width: 680px;
	position: relative;
}
#miolo .destaque .ytvideo {
	width: 419px;
	height: 344px;
	display: block;
	position: absolute;
	top: 20px;
	left: 20px;
}
#miolo .destaque .deshtml {
	background: url(../img/bg_destaque_green.png);
	position: absolute;
	top: 20px;
	right: 20px;
	width: 200px;
	color: #fff;
}
#miolo .destaque .deshtml a {
	color: #fff;
}
#miolo .destaque .deshtml h2 {
	font-size: 16px;
	margin: 10px 0 5px 0;
	padding: 0 10px;
}
#miolo .destaque .deshtml p {
	font-size: 11px;
	margin: 5px 0;
	padding: 0 10px;
}
#miolo .destaque .deshtml p.vermais {
	font-size: 14px;
	font-weight: bold;
	margin: 10px 0;
	padding: 10px 10px 0 10px;
	background: url(../img/bg_destaque_210_interna.png) 10px 0 no-repeat;
}
#miolo .destaque .packshot {
	z-index: 1000;
	margin: 0;
	padding: 0;
	text-align: center;
	position: absolute;
	bottom: -60px;
	right: 0;
}
#miolo .destaque .botaocompra {
	z-index: 1001;
	margin: 0;
	padding: 0;
	text-align: center;
	position: absolute;
	bottom: -100px;
	right: 0;
}
#miolo .destaque .botaocompra a {
	width: 210px;
	height: 79px;
	background: url(../img/bt_bg_compre_210x79.png) 0 0 no-repeat;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	padding: 5px 0 0 0;
	display: block;
	text-decoration: none;
}
#miolo .destaque .botaocompra a:hover {
	text-decoration: underline;
}
#miolo .destaque .botaocompra span {
}
#miolo .destaque .price {
	font-size: 14px;
	color: #632c0e;
	position: absolute;
	bottom: -100px;
	left: 0; 
}
#miolo .destaque .price strong {
	font-size: 48px;
	font-weight: bold;
	color: #006cff;
}
#miolo .destaque .price em {
	font-size: 16px;
	text-decoration: line-through;
	font-style: normal;
}
#miolo .prod_detail {
	margin: 80px 0 20px 0;
	float: left;
}
#miolo .prod_detail a {
	color: #006cff;
	text-decoration: none;
	font-weight: bold;
}
#miolo .prod_detail a:hover {
	text-decoration: underline;
}
#miolo .prod_detail h2 {
	font-size: 18px;
	margin: 20px 0 10px 0;
}
#miolo .prod_detail h3 {
	font-size: 18px;
	font-style: italic;
	margin: 20px 0 10px 0;
}
#miolo .prod_detail p {
	font-size: 14px;
	margin: 10px 0;
}
#miolo .prod_detail .lateral {
	margin: 0;
	padding-left: 470px;
}
#miolo .prod_detail .lateral h2 {
	margin: 0;
}
/* destaque */
#destaque .main_image {
	margin: 0;
	float: left;
}
/* shopping */

/* rodapé */
#rodape {
	width: 960px;
	margin: 20px 0;
	text-align: center;
	background: url(../img/novo-rodape.jpg) repeat-x #128ab8;

}
#rodape ul, #rodape p {
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-weight: bold;
	color: #1b83aa;
	float: left;
}
#rodape li {
	background: url(../img/rodape_div.jpg) right 10px no-repeat;
	margin: 0;
	padding: 0 10px;
	list-style: none;
	float: left;
}




#rodape a {
	font-size: 14px;
	color: #fff;
	text-decoration: none;
}
#rodape a:hover {
	text-decoration: underline;
}
#rodape .linha01, #rodape .linha02 {
	width: 700px;
	float: left;
}
#rodape .linha01 p {
	margin: 30px 0 10px 30px;
}
#rodape .linha01 ul {
	margin: 30px 0 10px 0; line-height: 1.8em;
}
#rodape .linha02 ul {
	line-height: 1.8em;
}
#rodape .linha02 p {
	font-size: 11px;
	margin: 8px 0 30px 30px
}
#rodape .linha02 li a {
	font-size: 12px;
}
/* forms */
.geralform {
	margin: 0;
	padding: 0;
}

.canais-bromelia{
  background: url(../img/logo-bromelia.jpg) no-repeat;
  float: right; height: 65px; padding: 25px 25px 0 80px; margin-top: 31px;
}
#rodape .canais-bromelia li{
  padding: 0 5px; background: none;
}


.ficha_do_evento, .ficha_do_evento_realizado {
	background-color: #26A8D7;
	border-radius: 10px 10px 10px 10px;
	color: #FFFFFF;
	display: inline;
	float: left;
	padding: 10px;
	width: 440px;
	margin-bottom: 10px;
	min-height: 165px;
	/*height: 245px;*/
    margin-left:0;
}


.ficha_do_evento .data, .ficha_do_evento_realizado .data {
	border-right: 1px solid #CCCCCC;
	display: block;
	float: left;
	padding-right: 4px;
	text-align: center;
	text-transform: uppercase;
	width: 60px;
	min-height: 140px;
	height: auto;
    margin-right:8px;
}
.ficha_do_evento .semana, .ficha_do_evento_realizado .semana {
	display: block;
	font-size: 12px;
	line-height: 20px;
	margin: 0 0 2px;
}


.ficha_do_evento .dia, .ficha_do_evento_realizado .dia {
	display: block;
	font-size: 60px;
	letter-spacing: -5px;
	line-height: 50px;
	margin-left: -8px;
}

.ficha_do_evento .mes, .ficha_do_evento_realizado .mes {
	display: block;
	font-size: 26px;
	line-height: 30px;
	margin: 2px 0 0;
}

.ficha_do_evento .nome, .evento_vazio .titulo {
	font-size: 18px;
	font-weight: bold;
	letter-spacing: -1px;
}
.ficha_do_evento_realizado {
	background-color: #939393;

}

.ficha_do_evento .nome, .ficha_do_evento .lugar, .ficha_do_evento .horario {
	display: block;
	margin: 0 0 5px 75px;
}



.ficha_do_evento_realizado .nome, .evento_vazio .titulo {
	font-size: 18px;
	font-weight: bold;
	letter-spacing: -1px;
}

.ficha_do_evento_realizado .nome, .ficha_do_evento .lugar, .ficha_do_evento .horario {
	display: block;
	margin: 0 0 5px 75px;
}

#Sidebar{
  /* margin-top: 145px;*/
}
#Sidebar li{
  margin-left:15px;
}


#Sidebar li{
  list-style-image: url(../img/bullet.png);

}

#Sidebar li.current{
  list-style-image: url(../img/bullet_current.png);
  font-weight: bold;

}
.banner_categoria{
  margin: 7px 0;
}

#miolo img.left{
  float:left;
  margin-top: -10px;
}


.box{
    background-color:#d5e3e9;
    color: #FFFFFF;
    margin-bottom: 20px;
    margin-top: 0;
    text-align:center;
}
.box a{
  color: #245B70;
}

.box img{
  margin-bottom: 10px;
}

h2, h3, h4, h5, h6{
  color:#245B70;
}

.agenda{   font-size: 1.2em; color: #215669; }
.agenda hr{
  display: block; height: 1px;
    border: 0; border-top: 1px solid #fff;
    margin: 1em 0; padding: 0;
}


.apps .thumb, .agenda .thumb{
  float: left;
  margin-right: 15px;
}

.apps .app_image{
  margin: 68px 0 15px 0;
}
.apps .app_image_android{
  margin: 68px 0 15px 0;
}

.apps h2{ margin-bottom: 0;  }

a{
  color:#c45dc5;
}
a:hover{
  color: #e079d6;
}

ul.image_list, ul.info_produto{   margin: 0; padding: 0; }
.image_list li:first-child{   margin: 0; padding: 0; }
.image_list li{   list-style-type: none; float: left; margin: 10px 5px 0 0; padding: 0;  }
.image_list li:nth-child(4){   margin: 10px 0 0 0;  }

.info_produto li{  list-style-type: none; float: left; margin: 0 15px 0 0; padding: 0; }

.produto h2, .produto p{
  margin-bottom: 0;
}

.produto_entry{
  float: none; margin-bottom: 25px; border-bottom: 1px solid #245B70; clear: both; overflow: hidden; padding-bottom: 25px;
}

.item_home{
  text-align: center; margin-top: 25px;  margin-bottom: 15px;
}
.banner{
  margin-bottom: 25px;
}


.item_home_pequeno{
  text-align: center; margin-top: 25px;  margin-bottom: 15px;
}
.botoes-peq{
  float: none; clear: both;
}


.item_home_peq{
  width: 137px; text-align: center; margin-top: 25px;  margin-bottom: 15px; float: left;
}


.cartMenu {
    color: #DFEEF9;
    display: block;
    font-size: 20px;
    position: absolute;
    right: 0;
    text-align: right;
    top: 90px;
    width: 365px;
    z-index: 99;
}

.cartMenu a {
    color: #DFEEF9;
}

.cartMenu a.checkout {
    color: #245B70;
}

.cartMenu .items {
    background: url("../img/cart_bg.png") no-repeat scroll left center transparent;
    float: right;
    line-height: 46px;
    padding: 0 0 0 45px;
}

.detalhes-agenda{overflow: hidden;}

.boxLicenciado{ width: 170px; float: left; text-align: center; color:#245B70;}
.space{ float: none; clear: both; width: 100%; height: 15px;}



