/*
	Featured Content Slider
	by: Chris Coyier
*/
*											{ margin: 0; padding: 0; }
body 										{ font-family: Arial, Helvetica, sans-serif; font-size: 10px; }

					  				  
/*
	UTILITY STYLES
*/				  				  
					  				  
.floatLeft 									{ float: left; margin-right: 10px;}
.floatRight									{ float: right; }
.clear 										{ clear: both; }
a											{ outline: none; }


/*
	PAGE STRUCTURE
*/
/*#page-wrap 									{ width: 500px; margin: 25px auto; position: relative; min-height: 500px;
											  background: url(images/bg.png) top center; }
*/


/*
	TYPOGRAPHY
*/
/*
ul											{ list-style: square inside; }
a, a:visited								{ color: #729dff; text-decoration: none; }
a:hover, a:active							{ color: white; }
blockquote									{ padding: 0 20px; margin-left: 20px; border-left: 20px solid #ccc; font-size: 14px; font-family: Georgia, serif; font-style: italic; margin-top: 10px;}
*/

/*
	SLIDER
*/
.slider-wrap								{ width: 960px;	height: 315px; position: relative; }
#miolo #destaque .slider-wrap				{ width: 680px; }
			
.stripViewer .panelContainer 
.panel ul									{ text-align: left; margin: 0 15px 0 30px; }
.stripViewer								{ position: relative; overflow: hidden; width: 960px; height: 315px; }
.stripViewer .panelContainer				{ position: relative; left: 0; top: 0; }
.stripViewer .panelContainer .panel			{ float: left; height: 100%; position: relative; width: 960px; }
.stripNavL, .stripNavR, .stripNav			{ display: none; }
.nav-thumb 									{ width: 45px; height: 46px; display: block; float: left; }
.nav-thumb span 							{ display: none; }

.aba01 .nav-thumb							{ background: url(../img/cont_01.png) no-repeat; }
.aba01 a:hover.nav-thumb					{ background: url(../img/cont_01_over.png) no-repeat; }
.aba02 .nav-thumb							{ background: url(../img/cont_02.png) no-repeat; }
.aba02 a:hover.nav-thumb					{ background: url(../img/cont_02_over.png) no-repeat; }
.aba03 .nav-thumb							{ background: url(../img/cont_03.png) no-repeat; }
.aba03 a:hover.nav-thumb					{ background: url(../img/cont_03_over.png) no-repeat; }
.aba04 .nav-thumb							{ background: url(../img/cont_04.png) no-repeat; }
.aba04 a:hover.nav-thumb					{ background: url(../img/cont_04_over.png) no-repeat; }
.aba05 .nav-thumb							{ background: url(../img/cont_05.png) no-repeat; }
.aba05 a:hover.nav-thumb					{ background: url(../img/cont_05_over.png) no-repeat; }
.aba06 .nav-thumb							{ background: url(../img/cont_06.png) no-repeat; }
.aba06 a:hover.nav-thumb					{ background: url(../img/cont_06_over.png) no-repeat; }


#movers-row									{ margin: -43px 0 0 62px; }
#movers-row div								{ width: 20%; float: left; }
#movers-row div a.cross-link 				{ float: right; }
.photo-meta-data							{ background: url(../images/transpBlack.png); padding: 10px; height: 30px; 
											  margin-top: -50px; position: relative; z-index: 9999; color: white; }
.photo-meta-data span 						{ font-size: 13px; }
.cross-link									{ display: block; width: 45px; height: 46px; margin-top: 0; 
											  position: relative; z-index: 9999; }
.abas .active-thumb01 						{ background: url(../img/cont_01_over.png) no-repeat; }
.abas .active-thumb02 						{ background: url(../img/cont_02_over.png) no-repeat; }
.abas .active-thumb03 						{ background: url(../img/cont_03_over.png) no-repeat; }
.abas .active-thumb04 						{ background: url(../img/cont_04_over.png) no-repeat; }
.abas .active-thumb05 						{ background: url(../img/cont_05_over.png) no-repeat; }
.abas .active-thumb06 						{ background: url(../img/cont_06_over.png) no-repeat; }

.active-thumb 								{ background: #CCC; }

#controller div {
	float: left;
}
